<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Cartl/IdeaProjects/TestPOM/src/test/java/TestCases">
        <classes>

            <class name="TestCases.SignUpTest">
                <methods>
                    <include name="SuccessfulLogin"/>
                </methods>
            </class>
            <class name="TestCases.LoginTest">
                <methods>
                    <include name="Login"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>